<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI_NDam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GUI_NDam.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <GUI_NDam.Properties.Settings>
            <setting name="Barva" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="Zobrazovat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Název" serializeAs="String">
                <value>Úloha</value>
            </setting>
            <setting name="Symbol" serializeAs="String">
                <value>0</value>
            </setting>
        </GUI_NDam.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <GUI_NDam.Properties.Settings>
            <setting name="Maximum" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="Minimum" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="VýchozíPočet" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="VýchozíBarva" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="VýchozíZobrazovat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VýchozíNázev" serializeAs="String">
                <value>Úloha</value>
            </setting>
            <setting name="VýchozíSymbol" serializeAs="String">
                <value>Kolečko</value>
            </setting>
        </GUI_NDam.Properties.Settings>
    </applicationSettings>
</configuration>